.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    margin: 25px auto;
}

.square-box {
    position: relative;
    width: 25%;
    overflow: hidden;
    background: #2c3e50;
    margin: 0 auto;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.square-content div {
    display: block;
    width: 100%;
    height: 100%;
}

.square-content .cell {
    display: inline-block;
    width: 33.333333333%;
    height: 33.33333333%;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
}

.cell span {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #ffffff;
}

.cursor-enable {
    cursor: pointer;
}

.cursor-disable {
    cursor: not-allowed;
}